SAMPLE_PROJECT/services/Sample_service1_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Sample_service1"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Sample_service1OperationRequest">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Sample" type="xsd:string">
						</xsd:element>
						<xsd:element name="Sample2"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Sample_service1OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Sample_output2" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Sample_service1OperationRequest">
		<wsdl:part name="parameters" element="tns:Sample_service1OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Sample_service1OperationResponse">
		<wsdl:part name="parameters" element="tns:Sample_service1OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Sample_service1PortType">
		<wsdl:operation name="Sample_service1Operation">
			<wsdl:input message="tns:Sample_service1OperationRequest"></wsdl:input>
			<wsdl:output message="tns:Sample_service1OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Sample_service1Binding"
		type="tns:Sample_service1PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Sample_service1Operation">
			<soap:operation
				soapAction="http://www.talend.org/service/Sample_service1Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Sample_service1">
		<wsdl:port name="Sample_service1Port" binding="tns:Sample_service1Binding">
			<soap:address location="http://localhost:8090/services/Sample_service1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>